.page {
  background-color: #2a2c2f;
  color: #fff;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter';
}
@media screen and (max-width: 1279px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .page {
    max-width: 320px;
  }
}
