.cover__subtitle {
  max-width: 360px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;

  color: #ffffff;
  margin: 0;
  margin-top: 32px;
}
@media screen and (max-width: 1023px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
  }
}
@media screen and (max-width: 319px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    min-width: 288px;
    text-align: center;
    margin-top: 16px;
  }
}
