.cover__subtitle {
  width: 360px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;

  color: #ffffff;
  margin: 0;
  margin-top: 32px;
}
