.lead__image {
  width: 984px;
  height: 615px;
  background-image: url('../../../images/travel.png');
  background-size: cover;
  margin-top: 64px;
}

@media screen and (max-width: 1023px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    width: 768px;
    height: 480px;
  }
}
@media screen and (max-width: 319px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }
}
