.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
  max-width: 456px;
}
.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .place__link {
    max-width: 456px;
  }
}

@media screen and (max-width: 767px) {
  .place__link {
    max-width: 352px;
  }
}
@media screen and (max-width: 319px) {
  .place__link {
    max-width: 288px;
  }
}
