.cover__title {
  max-width: 560px;

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */

  text-align: center;

  color: #ffffff;
  margin: 0;
  margin-top: 245px;
}
@media screen and (max-width: 1279px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin-top: 115px;
  }
}
@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    /* or 109% */
    margin-top: 33px;
  }
}
