.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 2px;

  color: #aaaaaa;
  margin: 0;
  max-width: 456px;
}
@media screen and (max-width: 1023px) {
  .place__url-heading {
    max-width: 456px;
  }
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    max-width: 352px;
  }
}
@media screen and (max-width: 319px) {
  .place__url-heading {
    max-width: 288px;
  }
}
