.place__website {
  max-width: 456px;
  width: 100%;
  margin: 0;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 1279px) {
  .place__website {
    max-width: 456px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
    padding-left: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    margin-top: 32px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
